---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="combo.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
    {% if site.favicon_png %}<link rel="icon" type="image/png" href="{{ site.favicon_png }}" />{% endif %}
    {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
    <div id="main">

{% include page_header.html %}

    <div class="section">
        <div class="container">
            {% capture terms %}{% include terms_of_service.md %}{% endcapture %}
            {{ terms | markdownify }}
        </div>
    </div>

</div>

{% include footer.html %}
</div>

{% include analytics.html %}
</body>
</html>
